@supports (color: color(display-p3 1 1 1)) {
    :root {
        --color-brand--main: color(display-p3 0.176471 0.854902 1.000000 / 1.000000);
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.button.is-secondary::after,
.button.is-secondary::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle, 0deg), #313A7B, #292F64, #556EE6, #2DDAFF, #556EE6, #292F64);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: var(--border-radius, 10px);
    /* animation: 3s spin linear infinite; */
}

.button.is-secondary::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

.button.is-secondary:hover::before,
.button.is-secondary:hover::after {
    animation: 3s spin linear infinite;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

html {
    font-size: calc(0.625rem + 0.41666666666666663vw);
}

@media screen and (max-width:1920px) {
    html {
        font-size: calc(0.625rem + 0.41666666666666674vw);
    }
}

@media screen and (max-width:1440px) {
    html {
        font-size: calc(0.8126951092611863rem + 0.20811654526534862vw);
    }
}

@media screen and (max-width:479px) {
    html {
        font-size: calc(0.7494769874476988rem + 0.8368200836820083vw);
    }
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
}

::selection {
    color: var(--color-brand--dark, #101e50);
    background-color: var(--color-brand--light, #e9e5e1);
    text-shadow: none;
}

/* For text split script */
.line,
.word {
    overflow: hidden;
    padding-bottom: 0.1em;
    margin-bottom: -0.1em;
}

/* class is-sticky for header */
.navbar1_component.is-sticky {
    min-height: 4.0rem;
    background-color: rgba(21, 17, 39, 0.82);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}